.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  background-image: url('./images/cafe.jpg');
  background-size: cover;
}
.player-wrapper{
  display: flex;
  justify-content: center;
  width: 70%;
}